<!DOCTYPE html>
<html>
<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>


    <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body>

<div class="container">
    <h1>Horse ID</h1>

    <div class="card">
    <a href="#"  id="start" class="btn btn-large waves-effect waves-light orange">Start</a>
        </div>

      <div class="card">
    <a href="#"  id="next" class="btn btn-large waves-effect waves-light orange">Chip Works</a>
        </div>
    <div id="response"></div>
</div>


</body>
<script>

    alert();
MODEL = false;

    $(document).on("click", "#start", function() {
        var sel = this;
        var data={"hello":"world"};
         $.ajax({
            url:"/model/start/",
            method: "PUT",
            dataType: "JSON",
            data: data,
            success: function (json) {
                $("#response").append("<h4>"+json.output+"</h4>");
                MODEL = json;
            },
            error: function(XMLHttpRequest, textStatus, errorThrown) {
                    alert(textStatus);
                }

        });


    });


     $(document).on("click", "#next", function() {
        var sel = this;
        var data = { node : "chip_work", result: "True" };

         $.ajax({
            url: "/model/build/",
            method: "PUT",
            dataType: "JSON",
            data: data,
            success: function (json) {

                $("#response").append("<h4>"+json.output+"</h4>");
            },
            error: function(XMLHttpRequest, textStatus, errorThrown) {
                    alert(textStatus);
                }

        });


    });

</script>
</html>
