<!DOCTYPE html>
<html>
<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>


    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <style>
        .card h4 {
            margin: 0px;
            margin-top: 5px;
        }

        .card .col {
            padding-left: 0px;
        }
    </style>
</head>

<body>

<div class="container">
    <h1>Horse ID</h1>

    <div class="card">
        <div class="row">
            <div class="col s3">
                <a href="#"  id="start" class="btn btn-large waves-effect waves-light orange">Start</a>
            </div>
            <div class="col s9">
                <span class="result"></span>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="row">
            <div class="col s3">
                <a href="#"   class="btn btn-large  orange ">Chip Works</a>
            </div>
            <div class="col s3">
                <div class="switch left">
                    <label>
                        No
                        <input id="chip_works" type="checkbox">
                        <span class="lever"></span>
                        Yes
                    </label>
                </div>
            </div>
            <div class="col s6">
                <span class="result"></span>
            </div>
        </div>
        <div class="card">
            <a href="#"  id="query" class="btn btn-large waves-effect waves-light orange">Query</a>
        </div>

        <div class="card">
            <a href="#"  id="map_query" class="btn btn-large waves-effect waves-light orange">Map Query</a>
        </div>
    </div>
    <div id="response"></div>
</div>


</body>
<script>

    MODEL = false;

    //starts the server
    $(document).on("click", "#start", function() {
        var card = $(this).closest(".card");
        var data={};
        $.ajax({
            url:"/model/start/",
            method: "PUT",
            dataType: "JSON",
            data: JSON.stringify(data),
            success: function (json) {
                $(card).find(".result").html("<h4>"+json.output+"</h4>");

            },
            error: function(XMLHttpRequest, textStatus, errorThrown) {
                    alert(textStatus);
                }
            });
     });


    $(document).on("change", "#chip_works", function() {
        var input = $(this).value == "on" ? true : false;
        var card = $(this).closest(".card");
        var data = { node : "chip_work", result: input };
        $.ajax({
            url: "/model/build/",
            method: "PUT",
            dataType: "JSON",
            data: JSON.stringify(data),
            success: function (json) {
                $(card).find(".result").html("<h4>"+json.output+"</h4>");
            },
            error: function(XMLHttpRequest, textStatus, errorThrown) {
                alert(textStatus);
            }
        });
    });




    $(document).on("change", "#query", function() {
        var input = $(this).value == "on" ? true : false;
        var card = $(this).closest(".card");
        var data = { variables : ["chip_work"], evidences:{id_verifying: 0, id_using: 0, owner_sta: 0} };
        $.ajax({
            url: "/model/build/",
            method: "PUT",
            dataType: "JSON",
            data: JSON.stringify(data),
            success: function (json) {
                $(card).find(".result").html("<h4>"+json.output+"</h4>");
            },
            error: function(XMLHttpRequest, textStatus, errorThrown) {
                alert(textStatus);
            }
        });
    });





    $(document).on("change", "#map_query", function() {
        var input = $(this).value == "on" ? true : false;
        var card = $(this).closest(".card");
        var data = { variables : ["chip_work"], evidences:{id_verifying: 0, id_using: 0, owner_sta: 0} };
        $.ajax({
            url: "/model/build/",
            method: "PUT",
            dataType: "JSON",
            data: JSON.stringify(data),
            success: function (json) {
                $(card).find(".result").html("<h4>"+json.output+"</h4>");
            },
            error: function(XMLHttpRequest, textStatus, errorThrown) {
                alert(textStatus);
            }
        });
    });




</script>
</html>
