<!DOCTYPE html>
<html>
<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">


    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <!-- Compiled and minified JavaScript -->



    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <style>
        .card h4 {
            margin: 0px;
            margin-top: 5px;
        }

        .card .col {
            padding-left: 0px;
        }
    </style>
</head>

<body>

<div class="container">


    <h3>Confidence in ID of Vintage Year: <span id="confidence_in_id">0</span>%</h3>

    <div class="card">
        <div class="row">
            <div class="col s3">
                <a href="#"  id="start" class="btn btn-large waves-effect waves-light orange">Start</a>
            </div>
            <div class="col s9">
                <span class="result"></span>
            </div>
        </div>
    </div>

    <div  class="card">
        <div class="row">
            <div class="col s4">
                <a href="#"   class="btn btn-large  orange ">Current Location?</a>
            </div>
            <div class="col s4">

                <select id="location"  class="variable" data-node="location" data-evidence="">


                </select>


            </div>
            <div class="col s4">
                <span class="result"></span>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="row">
            <div class="col s3">
                <a href="#"   class="btn btn-large  orange ">Is the Chip Working?</a>
            </div>
            <div class="col s3">
                <div class="switch left">
                    <label>
                        No
                        <input id="chip_works" type="checkbox" class="variable" data-node="chip_works" data-evidence="">
                        <span class="lever"></span>
                        Yes
                    </label>
                </div>
            </div>
            <div class="col s6">
                <span class="result"></span>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="row">
            <div class="col s3">
                <a href="#"  id="query" class="btn btn-large waves-effect waves-light orange">Query</a>
            </div>
            <div class="col s9">
                <span class="result"></span>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="row">
            <div class="col s3">
                <a href="#"  id="map_query" class="btn btn-large waves-effect waves-light orange">Map Query</a>
            </div>
            <div class="col s9">
                <span class="result"></span>
            </div>
        </div>
    </div>
</div>


</body>
<script>

    EVIDENCE = {};
    VARS = {};

    $(document).ready(function(){
        $('select').formSelect();

    });


    //starts the server
    $(document).on("click", "#start", function() {
        var card = $(this).closest(".card");
        var data={};
        $.ajax({
            url:"/model/start/",
            method: "PUT",
            dataType: "JSON",
            data: JSON.stringify(data),
            success: function (json) {
                populate_variables();
                $(card).find(".result").html("<h4>"+json.output+"</h4>");

            },
            error: function(XMLHttpRequest, textStatus, errorThrown) {
                alert(textStatus);
            }
        });
    });


    $(document).on("change", ".variable", function() {
        var input = $(this).val();
        // convert checkbox to boolean
        if (input=="on") input = "true";
        else if (input=="off") input = "false";

        var card = $(this).closest(".card");

        // put new value into data-evidence
        $(this).data('evidence', input);

        var data = {};
        $(".variable").each(function(i,d) {
            // include all evidence which has been entered
            var evidence = $(this).data('evidence');
            if (evidence>"") {
                data[$(this).data('node')] = evidence;
            }
        });

        // update model and show result in card
        update_model(data, card);

    });


    function update_model(data, card) {
        $.ajax({
            url: "/update/",
            method: "GET",
            dataType: "JSON",
            data: JSON.stringify(data),
            success: function (json) {
                $(card).find(".result").html("<h4>"+json.output+"</h4>");
            },
            error: function(XMLHttpRequest, textStatus, errorThrown) {
                alert(textStatus);
            }
        });
    }



    function populate_variables(){
        // populate variables
        $.ajax({
            url: "/variables/",
            method: "GET",
            dataType: "JSON",
            success: function (json) {
                VARS = json;

                // populate location dropdown
                var html = '<option value="" disabled selected>Choose your location</option>\n';
                options = $.each(VARS['location'], function (i, d) {
                    html += '<option value="' + d + '">' + d + '</option>';
                });

                $("#location").html(html);
                $('select').formSelect();
                //$('#location').formSelect();

            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert(textStatus);
            }
        });

    }

    $(document).on("click", "#query", function() {
        var card = $(this).closest(".card");
        var data = { "variables" : ["good_id"] };
        $.ajax({
            url:"/model/query/",
            method: "PUT",
            dataType: "JSON",
            data: JSON.stringify(data),
            success: function (json) {
                $(card).find(".result").html("<i>"+JSON.stringify(json.output)+"</i>");

            },
            error: function(XMLHttpRequest, textStatus, errorThrown) {
                alert(textStatus);
            }
        });
    });



    $(document).on("click", "#map_query", function() {
        var card = $(this).closest(".card");
        var data = { "variables" : ["chip_work"], "evidences":{"id_verifying": 0, "id_using": 0, "owner_sta": 0} };
        $.ajax({
            url:"/model/map_query/",
            method: "PUT",
            dataType: "JSON",
            data: JSON.stringify(data),
            success: function (json) {
                $(card).find(".result").html("<i>"+JSON.stringify(json.output)+"</i>");

            },
            error: function(XMLHttpRequest, textStatus, errorThrown) {
                alert(textStatus);
            }
        });
    });


</script>
</html>
